body {
  background-color: antiquewhite;
}

h1{
  text-align: center;
}

.flex-container{
  display: flex;
  border:2px solid red;
  height: 400px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  height: 200px;
  flex-wrap: wrap;
  width: 200px;
  padding-top: 50px;
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
  font-size: 30px;
  text-align: center;
}
