body {
    background-color: rgb(21, 185, 185)
}
 
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    border: 3px solid rgb(77, 7, 190);
    border-radius: 15px;
    background-color: rgb(101, 42, 238);
} 

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: red;
}

.search{
    float: right;
    padding-right: 100px;
    
}

.navBar input{
    border-radius: 60px;
}


li{
    margin-left: 15px;
    display: inline;
}